# General URL for .gitignore help: http://help.github.com/ignore-files/

# Compiled Output
dist/
/tmp/
/out-tsc/

# Dependencies
/node_modules/

# Editors and IDEs
/.idea/
/.project
/.classpath
/.c9/
*.launch
/.settings/
*.sublime-workspace

# Visual Studio Code (VSCode)
.vscode/
!/.vscode/settings.json
!/.vscode/tasks.json
!/.vscode/launch.json
!/.vscode/extensions.json

# Miscellaneous Files
/.sass-cache/
/connect.lock
/coverage/
/libpeerconnection.log
npm-debug.log*
yarn-error.log*
testem.log*
/typings/

# System Files
.DS_Store
Thumbs.db

# Environment Files
.env
.pnp.loader.mjs
.pnp.cjs

# Yarn
.yarn/
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Turbo
.turbo/
